asdasasdasd
<div class="contact">
  <h1>{{title}}</h1>
  <div class="clear"></div>
  <div class="notes">
    {{body}}
  </div>
  <div class="controls">
    <button type="button" class="btn blue" {{action 'edit'}}>Edit</button>
    <button type="button" class="btn red" {{action 'cancel'}}>Delete</button>
  </div>
</div>
