<table class="table table-bordered">
  <thead>
    <tr>
      <td>
        Title
      </td>
      <td>
        Body
      </td>
    </tr>
  </thead>
  <tr>
    <td>
      {{title}}
    </td>
    <td>
      {{body}}
    </td>
  </tr>
</table>

